<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://avanade-my.sharepoint.com/personal/jason_b_wang_avanade_com/_layouts/15/guestaccess.aspx?guestaccesstoken=wSSZqsE0Yu9YF8rDYMuCaEsfNAt4hhXgIAKjz%2bSQEIw%3d&amp;docid=2_1adbe98bbb7da45e7bd0e5d224a96eede&amp;rev=1</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>https://avanade-my.sharepoint.com/personal/jason_b_wang_avanade_com/_layouts/15/guestaccess.aspx?guestaccesstoken=M104TzXBExeGibsZ532aiYTMv4dA2U%2biSbSViTSHAoU%3d&amp;docid=2_10da1c2ef6a524b6d93fa125deb3de595&amp;rev=1</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>https://avanade-my.sharepoint.com/personal/jason_b_wang_avanade_com/_layouts/15/guestaccess.aspx?guestaccesstoken=mA%2fQu07eNysUBD%2baVtK63u6KC91vrJoDDlve8imHquM%3d&amp;docid=2_1a19f18c9d412403681bf9366bf4eb5a7&amp;rev=1</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.cpi.CpiPortal</string>
				<key>bundle-version</key>
				<string>1.0.1.0915</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>公司新闻</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
